﻿@page
@model SSD_Assignment.Pages.Account.ManageUsers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete this user?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.NormalizedUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.NormalizedUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.NormalizedEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.NormalizedEmail)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.TwoFactorEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.TwoFactorEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LockoutEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LockoutEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.AccessFailedCount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ApplicationUser.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
