﻿@page
@model SSD_Assignment.Pages.Account.ManageUsers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Manage user permissions</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationUser.Id" />
            <div class="form-group">
                <label asp-for="ApplicationUser.UserName" class="control-label"></label>
                <input asp-for="ApplicationUser.UserName" class="form-control" readonly/>
                <span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.NormalizedUserName" class="control-label"></label>
                <input asp-for="ApplicationUser.NormalizedUserName" class="form-control" readonly/>
                <span asp-validation-for="ApplicationUser.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.Email" class="control-label"></label>
                <input asp-for="ApplicationUser.Email" class="form-control" readonly/>
                <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.NormalizedEmail" class="control-label"></label>
                <input asp-for="ApplicationUser.NormalizedEmail" class="form-control" readonly/>
                <span asp-validation-for="ApplicationUser.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ApplicationUser.EmailConfirmed" /> @Html.DisplayNameFor(model => model.ApplicationUser.EmailConfirmed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.SecurityStamp" class="control-label"></label>
                <input asp-for="ApplicationUser.SecurityStamp" class="form-control" readonly/>
                <span asp-validation-for="ApplicationUser.SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="ApplicationUser.ConcurrencyStamp" class="form-control" readonly/>
                <span asp-validation-for="ApplicationUser.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ApplicationUser.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.ApplicationUser.TwoFactorEnabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.LockoutEnd" class="control-label"></label>
                <input asp-for="ApplicationUser.LockoutEnd" type="datetime-local" class="form-control" />
                <span asp-validation-for="ApplicationUser.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ApplicationUser.LockoutEnabled" /> @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.AccessFailedCount" class="control-label"></label>
                <input asp-for="ApplicationUser.AccessFailedCount" min="0" class="form-control"/>
                <span asp-validation-for="ApplicationUser.AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
