@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div style="width: 100px; height: 100px; background-color:azure;">
                <span>Profile Picture</span>
            </div>
            <div>
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>

                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <!--<button asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>-->

                }

                <span asp-validation-for="Input.Email" class="text-danger" required></span>
                <br />
                <label asp-for="Input.Description" id="descId"><b>Description:</b></label>
                <textarea asp-for="Input.Description" for="descId" class="form-control">@Html.Raw(Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(Model.Description))</textarea>
                
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
