﻿@page
@model SSD_Assignment.Pages.Browse.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Games.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Games.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Games.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Games.DatePublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.DatePublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Games.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.Description)
        </dd>
    </dl>
</div>
<div class="form-group">
    <a href="./DownloadPage"><input type="button" value="Download" class="btn btn_download" /></a>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
