﻿@page
@model SSD_Assignment.Pages.Feedbacks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Feedback.feedback" class="control-label">Write a comment:</label>
                <input asp-for="Feedback.feedback" type="text" class="form-control" maxlength="500" style="Height: 200px"/>
                <span asp-validation-for="Feedback.feedback" class="text-danger"></span>
            </div>
            <p>Max length of 2000 characters</p>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
