﻿@page
@model SSD_Assignment.Pages.Feedbacks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Feedback.feedback)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feedback.feedback)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Feedback.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feedback.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Feedback.DateTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feedback.DateTimeStamp)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Feedback.FeedbackID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
