﻿@page
@model SSD_Assignment.Pages.Feedbacks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Feedback.feedback)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feedback.feedback)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Feedback.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feedback.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Feedback.DateTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feedback.DateTimeStamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
