﻿@page
@model SSD_Assignment.Pages.Feedbacks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Posted feedbacks</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Feedback
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback[0].DateTimeStamp)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feedback) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStamp)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.FeedbackID">Details</a>

                @if (User.IsInRole("Admin"))
                {
                     <span> | <a asp-page="./Delete" asp-route-id="@item.FeedbackID">Delete</a></span>

                }
                
            </td>
        </tr>
}
    </tbody>
</table>
