﻿@page
@model SSD_Assignment.Pages.Roles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationRole.Name)
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationRole.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ApplicationRole.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
