﻿@page
@model SSD_Assignment.Pages.ErrorsModel
@{
    ViewData["Title"] = "Errors";
}


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>         
        <strong>Request ID:</strong> <code>@Model.RequestId</code>     
    </p>
}

<h3>Custom Error Message</h3> 
<p>     
    Status  Code : @Model.iStatusCode 
</p> 
<p>     
    Error Message : @Model.Message 
</p> 



