﻿@page
@model AssignmentSSD.Pages.Game.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Games.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Games.DatePublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.DatePublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Games.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Games.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Games.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
